[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.8.2"
importlib-resources = "*"
boto3 = "*"

[dev-packages]
mlflow = "*"
isort = "*"
black = "*"
pytest = "*"
pylint = "*"
matplotlib = "*"
jupyter = "*"
ipykernel = "*"
pre-commit = "*"
